body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Georgia;
  background-color: SteelBlue;
  color: whitesmoke;
}

li {
  border-bottom: 1px solid silver;
  width: 200px;
  display: block;
  margin-bottom: 20px;
}

div{
  width: 500px;
  margin: auto;
  background-color: SteelBlue;
}

ul {
  width: 200px;
  margin: auto;
}

button {
  margin-bottom: 10px;
}
